@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700&display=swap');

/* RESET CSS */
*, *:before, *:after {
    box-sizing: inherit;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth; 
    text-rendering: optimizeSpeed; 
    line-height: 1.5;
}

img {
    max-width: 100%;
    display: block;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: var(--white);
}

ul[class], ol[class] {
    list-style: none;
}
/* FIN RESET CSS */

:root {
    --main-blue: #16c1d7;
    --dark-blue: #168f9e;
    --green: #44CC66;
    --black: #141414;
    --white: #e5e5e5;
    font-family: 'League Spartan', sans-serif;
    font-size: 10px;
}

/* HEADER */
header {
    height: 50px;
    width: 100%;
    background-color: var(--black);
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 12px var(--main-blue);
    z-index: 600;
}

/* Ocultamos el h1 ya que solo está por motivos de SEO */
h1 {
    position: absolute;
    visibility: hidden;
}

.icon {
    height: 20px;
    background: url(../img/netflex-logo.png) no-repeat center left / contain;
    margin: 15px 0 0 20px;
}


/* MAIN */
main {
    position: absolute;
    min-height: calc(100vh - 50px);
    width: 100vw;
    margin-top: 50px;
    padding: 0px 0px 20px;
    color: var(--white);
    background-color: var(--black);
}


/*APLICAMOS ESTILOS A LA BARRA DE SCROLL*/
/*Le quitamos su apariencia propia del sistema operativo*/
body::-webkit-scrollbar {
    -webkit-appearance: none;
}

/*Le damos un color al fondo*/
body::-webkit-scrollbar-track {
    border-radius: 20px;
}

/*Le damos un color y le redondeamos los bordes*/
body::-webkit-scrollbar-thumb {
    background-color: #505050;
    border-radius: 20px;
}

/*Las hacemos más finas, a la horizontal de damos altura 0*/
body::-webkit-scrollbar:vertical {
    width: 5px;
}
body::-webkit-scrollbar:horizontal {
    height: 0px;
}
/* FIN BARRA SCROLL */
/* MENU */
.menu ul {
    list-style: none;
}
  
.menu {
    position: fixed;
    z-index: 700;
    right: 0;
    top: -260px;
    height: 250px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.6rem;
    transition: all 0.3s;
    background: #141414f3;
}
  
.menu-open {
    width: 260px;
    right: 0;
    top: 50px;
    transition: all 0.3s;
    border: 1px solid #ffffff26;
}

.menu li {
    margin: 25px 0;
    text-align: center; 
}

.menu ul li a {
    transition: color 0.2s;
}

.menu ul li a:hover {
    color: #a9a9a9;
    transition: color 0.2s;
}

#menu-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: none;
}

#menu-bg.visible {
    display: block;
    z-index: 1;
}
/* FIN MENU */


/* MEDIA QUERIES */

@media only screen and (min-width: 800px) {
    header {
        height: 60px;
    }

    .icon {
        height: 24px;
        margin: 18px 0 0 35px;
    }

    main {
        min-height: calc(100vh - 60px);
        margin-top: 60px;
    }

    .menu-open {
      height: 0;
      top: -260px;
    }
  
    #burger {
        display: none;
    }
  
    .menu {
      height: 70px;
      width: 300px;
      top: -2px;
      left: 280px;
      z-index: 650;
      background-color: transparent;
      transition: none;
      font-size: 1.7rem;
      position: fixed;
    }
    
    .menu ul {
      height: 100%;
      width: 500px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
}



/*
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
*/

.hamburger {
    padding: 15px 15px;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    background-color: transparent;
    border: 0;
    position: absolute;
    height: 100%;
    top: 0;
    right: 10px;
    display: flex;
    align-items: center;
}

.hamburger:hover {
      opacity: 0.7; 
}

.hamburger.is-active:hover {
      opacity: 0.7; 
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
      background-color: var(--white); 
}
  
.hamburger-box {
    width: 25px;
    height: 24px;
    display: inline-block;
    position: relative; 
}
  
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -1px;
}

.hamburger-inner, 
.hamburger-inner::before, 
.hamburger-inner::after {
    width: 25px;
    height: 2px;
    background-color: var(--white);
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before, 
.hamburger-inner::after {
      content: "";
      display: block; 
}

.hamburger-inner::before {
      top: -7px; 
}

.hamburger-inner::after {
      bottom: -7px; 
}
  
/* Squeeze */
.hamburger--squeeze .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease,
      transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
  
.hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease,
      transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}